.RData
.Ruserdata
.Rproj.user
.Rhistory
src/stan_files/*.o
src/stan_files/*.cc
src/stan_files/*.hpp
src/bamr.so
src/bamr.dll
src/init.o
vignettes/*.R
!vignettes/*.Rmd
vignettes/*.html
vignettes/*_files
*/rsconnect
.DS_Store
cache
inst/doc
inst/notebook
*.tar.gz
doc
Meta
